<configuration>
<system.webServer>
<rule name="Mobile Rewrite" patternSyntax="ECMAScript" stopProcessing="true">

    <match url=".*" ignoreCase="true" negate="false" />

    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">

        <add input="{HTTP_USER_AGENT}" pattern="midp|mobile|phone" />

        <add input="{HTTP_X-Device-User-Agent}" pattern="midp|mobile|phone" />

        <add input="{HTTP_X-OperaMini-Phone-UA}" pattern="midp|mobile|phone" />

    </conditions>

    <action type="Redirect" url="http://mysite.mobi" appendQueryString="false" redirectType="Found" />

</rule>
